<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <title>Recipes</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto mt-5">
        <div class="card card-primary border-primary">
          <div class="card-header text-white bg-primary">
            <h4 class="card-title">My Recipes!!!</h4>
          </div>
          <div class="card-body">
            <!-- Table -->
            <table class="table table-hover">
              <!-- thead -->
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Description</th>
                  <th>View</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <!-- tbody -->
              <tbody>
                <tr th:each="recipe : ${recipes}">
                  <td th:text="${recipe.id}">asd</td>
                  <td th:text="${recipe.description}">asd</td>
                  <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/show'}">View</a></td>
                  <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/update'}">Update</a></td>
                  <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/delete'}">Delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>